<h1 class="mt-2"> Rick Y Morty</h1>

<div class="container">
  
  <div class="row">
    <div class="col-sm-6 col-md-3 mt-3" *ngFor="let personaje of arrPersonajes">
      <div class="card" >
       
        <img [src]="personaje.image" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{personaje.name}}</h5>
          <p class="card-text">{{personaje.species}}</p>
          <a [href]="personaje.url" class="btn btn-primary">Ver mi personaje</a>
        </div>
      </div>
    </div>
  </div>
</div>